@media screen and (max-width: 769px) {

  .topMsgDiv {
    font-size: 1.3rem; 
    width: 80%;
    margin-top:30px;
  }

  .topLogo {
    width: 70%;
    margin-top: 100px;
  }

  .currentBalanceDiv {
    /* font-size:30px; 
    font-weight:700; */
    /* width:80%; */
    text-align: center;
    font-family:hiragino-w8;
    font-size:20px;
  }

  .userMenuDiv {
    display: flex;
    flex-direction: column;
  }


  .sendTokenDiv {
    width:100%;
    /* min-width: 500px; */
    display:flex; 
    justify-content: center;
    /* flex-shrink: 0; */
  }

  .sendTokenDiv2 {
    /* padding: 0px 30px; */
    padding: 0px 30px;
    flex-shrink: 0;
    width: 100%;
  }

  /* .connectBtnMain {
    font-size: 40px; 
    font-weight: 700; 
    padding: 5px 50px;
  } */

  .currentBalanceLi{
    display: none;
  }

  .connectWalletLi {
    display: none;
  }

  .usernameLi {
    display: none;
  }

  .cpMenu {
    display: "";
    /* visibility:visible; */
  }

  .pcMenu {
    display: none;
    /* visibility: hidden; */
  }
  .rewardListDiv {
    display:flex; 
    justify-content: center;
    flex-wrap: wrap; 
    color:black;
    width:80%;
  }

  #sendToDiv ul{
    margin-top:0px;
    color:black;
    text-align: left;
  }

  #sendToDiv{
    align-items: center;
    margin-bottom:30px;
  }

  .profileImgForm {
    border-radius: 20%;
  }

  .profileImg {
    border-radius: 20%;
  }

  .rankingProfile {
    border-radius: 20%;
  }

  .userInfoBtn {
    margin: 20px 0px;
  }

  .mainImg {
    width:30%;
  }

  .rewardDiv {
    width:100%;
    text-align: center;
    font-family:hiragino-w8;
    /* margin:5px 20px; */
    padding: 20px; 
    border-radius: 20px;    
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin-bottom: 40px;    

  }

}



