@media screen and (min-width:769px) {
  .br-sp {display: none; }

  .topMsgDiv {
    font-size: 1.5rem; 
    width: 700px; 
    margin-top:30px;
  }

  .topLogo {
    margin-top: 350px;
  }

  .currentBalanceDiv {
    font-size:xx-large; 
    font-weight:700;
  }

  .sendTokenDiv {
    width:100%;
    min-width: 500px;
    display:flex; 
    justify-content: center;
  }

  .sendTokenDiv2 {
    padding: 0px 30px;
    width: 600px;
  }

  .walletAddressTxt {
    width: 500px;
  }

  .cpMenu {
    display: none;
    /* visibility: hidden; */
  }

  .pcMenu {
    display: "";
    /* visibility: visible; */
  }

  /* .connectBtnMain {
    font-size: 40px; 
    font-weight: 700; 
    padding: 5px 50px;
  } */


  /* .currentBalanceLi{
    display: "";
  } */

  .rewardDiv{
    display: flex;
    justify-content: center;    
  }

  .rewardListDiv {
    display:flex; 
    justify-content: flex-start;
    flex-wrap: wrap; 
    color:black;
    width:80%;
  }

  #sendToDiv ul{
    margin-top:0px;
    color:black;
    text-align: left;
  }


}